[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

# Make sure information is displayed properly
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''elseif _c.effect == 'Glass Card' then loc_vars = {cfg.Xmult, SMODS.get_probability_vars(card, 1, cfg.extra, 'glass')}'''
position = 'at'
payload = '''elseif _c.effect == 'Glass Card' then loc_vars = {cfg.Xmult, SMODS.get_probability_vars(card, cfg.foobar_numerator or 1, cfg.extra, 'glass')}'''
match_indent = true

# ensure card reflects chances of breaking properly
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/game_object.lua"]'
pattern = '''if context.destroy_card and context.cardarea == G.play and context.destroy_card == card and SMODS.pseudorandom_probability(card, 'glass', 1, card.ability.extra) then'''
position = 'at'
payload = '''if context.destroy_card and context.cardarea == G.play and context.destroy_card == card and SMODS.pseudorandom_probability(card, 'glass', card.ability.foobar_numerator or 1, card.ability.extra) then'''
match_indent = true
