[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

# make lucky cards not trigger normally
[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = '''if self.ability.effect == "Lucky Card" then'''
position = 'at'
payload = '''if self.ability.effect == "Lucky Card" and not FooBar.average_probability() then'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = '''else
        ret = ret + self.ability.mult'''
position = 'at'
payload = '''elseif not FooBar.average_probability() then
        ret = ret + self.ability.mult'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = '''else 
            ret = ret + self.ability.p_dollars'''
position = 'at'
payload = '''elseif not FooBar.average_probability() then 
            ret = ret + self.ability.p_dollars'''
match_indent = true

