[manifest]
version = "1.0.0"
dump_lua = true
priority = 70

# Store reference to original card in ui copy
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = '''copy.greyed = greyed'''
position = 'after'
payload = '''if unplayed_only then copy.foobar_reference = v or SUITS[visible_suit[j]][i] end'''
match_indent = true
